@model LanchesMAC.ViewModels.CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img src="https://img.icons8.com/dusk/32/000000/shopping-cart-loaded--v1.png" style="width: 32px;"/></span>
        <span style="color: white;">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}