<div class="container">
    <img src="https://img.icons8.com/dusk/64/000000/communication.png" alt="Fale Conosco" style="width: 32px;"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão, fale conosco
        </p>
        <p>
            <span>
                <img src="https://img.icons8.com/dusk/64/000000/secured-letter--v1.png" style="width: 32px;"/>
            </span>
            <h5><email endereco="victorddf5@gmail.com" conteudo = "Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="https://img.icons8.com/dusk/64/000000/iphone.png" style="width: 32px;"/>
            </span>
            <h5>(24) 99939-3225</h5>
            <br />
            <span>
                <img src="https://img.icons8.com/dusk/64/000000/organization.png" style="width: 32px;"/>
            </span>
            <h5>Av. Juscelino Kubicheck 1000 - 03540-550 São Paulo</h5>
        </p>
    </div>
</div>