<br />
<img src="https://img.icons8.com/dusk/64/000000/error.png" alt="Área de Administração"
    class="marginTop1" />

<div class="container">
    <div>
        <p>
            <h2>Acesso não autorizado!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>